  body{
    font-family: 'Kanit', sans-serif;

  }
  nav{
    font-weight: bold;
  }
  #navitem{
    width: 25px;
  }
  #itemactive{
    text-decoration: underline;
  }
  #footer{
    background-color: #1E1E1E;
    color: white;
  }

  .btn-round-lg{
    border-radius: 22.5px;
  }
  .btn-round{
    border-radius: 17px;
  }
  .btn-round-sm{
    border-radius: 15px;
  }
  .btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }
 #check1{
    width: 110px;
  height: 100px;
  line-height: 200px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 40px;
 border: 1px solid black;
 background-color: white;
 }